{
    email {$ACME_EMAIL}
}

zoortech.tj, www.zoortech.tj, crm.zoortech.tj {
    encode zstd gzip
    reverse_proxy crm:8000
}

chatwoot.zoortech.tj {
    encode zstd gzip
    reverse_proxy {$CHATWOOT_UPSTREAM}
}

dify.zoortech.tj {
    encode zstd gzip
    reverse_proxy {$DIFY_UPSTREAM}
}